<%#= @total.html_safe %>
<div class="row">
<div class="span6">
<div class="widget">
	<div class="widget-header"> <i class="icon-list-alt"></i>
              <h3> Tiempo de Actividad (en Minutos) </h3>
 </div>
<div class="widget-content">
<p>Tiempo Total Caminando:
<%= (@caminando/60).to_i.to_s %> Minutos
(Normal debe ser aproximadamente 240)
<br>
Tiempo Total de Pie:
<%= (@parada/60).to_i.to_s %> Minutos  
<br>
Tiempo Total de Sentada:
<%= (@sentada/60).to_i.to_s %> Minutos
(Normal debe ser entre 720-600)
<br>
Tiempo Total de Sue単o:
<%= (@dormida/60 ).to_i.to_s %> Minutos
(Normal debe ser entre 300-200)
<br></p>
</div>
</div>
<div class="widget">
	<div class="widget-header"> <i class="icon-list-alt"></i>
              <h3> Ultimo estado </h3>
 </div>
  
 <div class="widget-content">  <%= image_tag(@current_state,   alt: @current_state) if @current_state%> </div> 
</div>
<div class="widget">
	<div class="widget-header"> <i class="icon-list-alt"></i>
              <h3> Balance de comportamiento </h3>
 </div>
 <div class="widget-content"> 
 <div id="donut" style="height: 300px;"></div> 
            
           <script>
            new Chartkick.PieChart("donut", [["Caminando ",<%=(@caminando/60).to_i.to_s%>],["Sue単o",<%=(@dormida/60).to_i.to_s.to_s%> ],["parada",<%=(@parada/60).to_i.to_s%>],["Sentada ", <%=(@sentada/60).to_i.to_s%>]],{download: "donut"});
          </script>
  </div>
</div>
</div> 
        <div class="span6" style="  page-break-after: always;"> 
        <div class="widget">
	<div class="widget-header"> <i class="icon-list-alt"></i>
              <h3> Comparativo con el tiempo promedio de un bovino sano </h3>
 </div>
  		<div class="widget-content"> 
        <div class="span4">
          <%= column_chart [{"name":"Minutos","data":[["Caminando ",(@caminando/60).to_i.to_s] ]},
          {"name":"Minutos en Promedio","data":[ 
            ["Caminando ",240] 
            ]}] %>
          </div>
          <div class="span4">
            <%= column_chart [{"name":"Minutos","data":[ 
              ["Sentada ",(@sentada/60).to_i.to_s] ]},
              {"name":"Minutos en Promedio","data":[ 

                ["Sentada ",720] 
                ]}] %>
              </div>
              <div class="span4">
                <%= column_chart [{"name":"Minutos","data":[ 
                  ["Sue単o",(@dormida/60).to_i.to_s] ]},
                  {"name":"Minutos en Promedio","data":[  
                    ["Sue単o",300] 
                    ]}] %>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>