<p id="notice"><%= notice %></p>

<h1>Arduino Devices</h1>

<table>
  <thead>
    <tr>
      <th>Chipid</th>
      <th>Model</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arduino_devices.each do |arduino_device| %>
      <tr>
        <td><%= arduino_device.chipid %></td>
        <td><%= arduino_device.model %></td>
        <td><%= link_to 'Show', arduino_device %></td>
        <td><%= link_to 'Edit', edit_arduino_device_path(arduino_device) %></td>
        <td><%= link_to 'Destroy', arduino_device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arduino Device', new_arduino_device_path %>
