<div class="row">
  <div class="col-md-12">
    <div class="card">
  
      <div class="header">
        <h4 class="title"><i class="pe-7s-signal"></i> Detalles</h4>
        <p class="category"><%= notice %></p>
      </div>
 

      <div class="content  ">
      <button onclick="delayPrint()">Imprimir Reporte</button>
      <%= search_form_for @q, url: arduino_device_search_path(@arduino_device),
      html: { method: :post } do |f| %>

      <br> 
      <div class="span12">
        <%= f.label :created_at,"Fecha", class: "control-label span1" %>
        <div class="span3">
          <%= f.text_field :created_at, type: "date", class: "form-control", value: @current_date if @current_date %>
        </div>

      </div> 


      <%= f.submit t('search') , :class => "btn btn-success" %>

      <% end %>
    </div> <!-- /widget -->
     </div> 
    </div> <!-- /span12 --> 
 </div> 
 <div class="row" id='section-to-print'>
  <div class="col-md-12">
    <div class="card" >
  
      <div class="header">
        <h4 class="title"><i class="pe-7s-signal"></i> Datos del Bovino</h4>
       
      </div> 
        <div class="content"> 
             
            <p>
               <strong>Fecha:</strong>
             <%= @current_date %></p>

          <p>
            <strong>Chipid:</strong>
            <%= @arduino_device.chipid %>
          </p>

          <p>
            <strong>Model:</strong>
            <%= @arduino_device.model %>
          </p>

          <p>
            <strong>Usuario:</strong>
            <%= @arduino_device.user.name %>
          </p>

          <p>
            <strong>ID de Bovino:</strong>
            <%= @arduino_device.cow.id %>
          </p>   


 
           
 
      



                </div>
                


 
            </div>
        </div>  
    <div id="msn">Cargando...
                 
    </div>
   </div>       

        

<script>
  function delayPrint() { 
    window.print(); 
  } 

    setInterval(function(){ 
     $.ajax({url: "/arduino_devices/<%=@arduino_device.id%>/get_last_moves?current_date=<%=@current_date%>", success: function(result){

      $("#msn").html(result);
    }});

   }, 3000); 
</script>