<div class="row">  

  <div id="target-1" class="span12">

 


      <h1>Detalles</h1>


      <p id="notice"><%= notice %></p>
      <button onclick="delayPrint()">Imprimir Reporte</button>
      <%= search_form_for @q, url: arduino_device_search_path(@arduino_device),
      html: { method: :post } do |f| %>

      <br> 
      <div class="span12">
        <%= f.label :created_at,"Fecha", class: "control-label span1" %>
        <div class="span3">
          <%= f.text_field :created_at, type: "date", class: "form-control", value: @current_date if @current_date %>
        </div>

      </div> 


      <%= f.submit t('search') , :class => "btn btn-success" %>

      <% end %>
      <div id='section-to-print'>
        <div class="row"> 
            <h1>Datos del Bovino</h1>
            <p>
               <strong>Fecha:</strong>
             <%= @current_date %></p>

          <p>
            <strong>Chipid:</strong>
            <%= @arduino_device.chipid %>
          </p>

          <p>
            <strong>Model:</strong>
            <%= @arduino_device.model %>
          </p>

          <p>
            <strong>Usuario:</strong>
            <%= @arduino_device.user.name %>
          </p>

          <p>
            <strong>ID de Bovino:</strong>
            <%= @arduino_device.cow.id %>
          </p>  
            <div class="span12"> 
              <div id="msn">Cargando...
                  <div id="big_stats" class="cf">


                  </div>
                  <!-- .stat --> 
                </div>


           </div>
           
 
      



                </div>
                


 
            </div>

          

        </div> <!-- /widget -->

      </div> <!-- /span12 --> 
 

<script>
  function delayPrint() { 
    window.print(); 
  }
  $(document).on('turbolinks:load', function(event) {

    setInterval(function(){ 
     $.ajax({url: "/arduino_devices/<%=@arduino_device.id%>/get_last_moves?current_date=<%=@current_date%>", success: function(result){

      $("#msn").html(result);
    }});

   }, 3000);
  });
</script>