<div class="row bg-title">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h4 class="page-title">Sucursales</h4>
  </div>
  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
    <ol class="breadcrumb">
      <li><%= link_to "Inicio", root_path %></li>
      <li class="active">Sucursales</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="white-box">
      <h3 class="box-title m-b-0">Listado de Sucursales</h3>
      <%= link_to  new_veterinary_path , {remote:true, class: "fcbtn btn btn-success btn-1e" } do %>
      <i class="icon-plus"></i>
      <span>Nuevo</span>
      <%end%>

       <%= link_to  filter_veterinaries_path , {remote:true, class: "fcbtn btn btn-primary btn-1e" } do %>
      <i class="icon-search"></i>
      <span>Buscar</span>
      <%end%>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th> <%= t('veterinaries.id')%> </th>
              <th><%= t('veterinaries.name')%></th>
              <th><%= t('veterinaries.email')%></th>
              <th><%= t('veterinaries.created_at')%></th> 
              <th colspan="3">Acciones</th>
            </tr> 
          </thead>
          <tbody class="veterinaries-table-index">
            <%= render 'veterinaries/partials/index'%>
          </tbody>
          <tfoot>
            <td colspan="7">
              <div class="text-right">
                <ul class="pagination">
                  <%= paginate @veterinaries %>
                </ul>
              </div>
            </td>
          </tfoot>
        </table>  
      </div>
    </div>
  </div>
</div> 

<div id="modal-veterinaries" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>