<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nutritional_control.name %>
</p>

<p>
  <strong>Purpouse:</strong>
  <%= @nutritional_control.purpouse %>
</p>

<p>
  <strong>From date:</strong>
  <%= @nutritional_control.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @nutritional_control.to_date %>
</p>

<%= link_to 'Edit', edit_nutritional_control_path(@nutritional_control) %> |
<%= link_to 'Back', nutritional_controls_path %>
