<div class="col-lg-6">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('cows.cow')%></h3>
  </div>
  <div class="panel-body">
	<p id="notice">
	<%= notice %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @cow.name %>
</p>


<p>
  <strong>Description:</strong>
  <%= @cow.description %>
</p>

</p>

 
<%= link_to 'Edit', edit_cow_path(@cow) %> 
 
  	</div>
</div>

</div>