<%= form_for @veterinary,remote: true, html: { class: "form-horizontal form-material",role: "form" } do |f| %>		
<div class="modal-body">		
	<div class="form-group"> 
		<div style="background-color:red; color:white; font-weight:bold;">		
			<ul class="errors"></ul>		
		</div>		


		<%= f.fields_for :user do |ff| %>
		<div class="col-md-12 m-b-20"> 
			<label class="col-md-12"><%= t("users.name")%></label>
			<div class="col-md-12">
				<%= ff.text_field :name, class: "form-control"   %>
			</div>  
		</div> <hr>
		<div class="col-md-12 m-b-20"> 
			<label class="col-md-12"><%= t("users.lastname")%></label>
			<div class="col-md-12">
				<%= ff.text_field :lastname, class: "form-control" %>
			</div>  
		</div>
		<hr>	
		<%if @veterinary.user.new_record?%>
		<div class="col-md-12 m-b-20"> 
			<label class="col-md-12"><%= t("users.email")%></label>
			<div class="col-md-12">
				<%= ff.text_field :email, class: "form-control"   %>
			</div>
		</div>
		<hr>
		
		<div class="col-md-12 m-b-20"> 
			<label class="col-md-12"><%= t("users.password")%></label>
			<div class="col-md-12">
				<%= ff.password_field :password, class: "form-control"   %>
			</div>
		</div> <hr>
		<div class="col-md-12 m-b-20"> 
			<label class="col-md-12"><%= t("users.password_confirmation")%></label>
			 
				<%= ff.password_field :password_confirmation, class: "form-control"   %>
			 
		</div> 
		<hr> 
		<%end%>
		<% end %>
		<hr>
		<div class="col-md-12 m-b-20"> 
			<label class="col-md-12"><%= t("users.clinic")%></label>
			<div class="col-md-12">
				<%= f.text_field :clinic, class: "form-control"   %>
			</div>  
		</div>
		<hr>
		<div class="col-md-12 m-b-20"> 
			<label class="col-md-12"><%= t("users.address")%></label>
			<div class="col-md-12">
				<%= f.text_field :address, class: "form-control"   %>
			</div>  
		</div>
		<hr>
		<div class="col-md-12 m-b-20"> 
			<label class="col-md-12"><%= t("users.phone")%></label>
			<div class="col-md-12">
				<%= f.text_field :phone, class: "form-control"   %>
			</div>  
		</div>
		<hr>

		<div class="col-md-12 m-b-20"> 
			<label class="col-md-12"><%= t("users.web_site")%></label>
			<div class="col-md-12">
				<%= f.text_field :web_site, class: "form-control"   %>
			</div>  
		</div>
		<hr>
		
		
	</div>		 	
</div>		
<div class="modal-footer">		
	<%=f.submit 'save',class: 'btn btn-info waves-effect' %> 		
	<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
</div>		
<% end %>

