<%= form_for @cow,remote: true, html: { class: "form-horizontal form-material",role: "form" } do |f| %>		
<div class="modal-body">		
	<div class="form-group"> 
		<div style="background-color:red; color:white; font-weight:bold;">		
			<ul class="errors"></ul>		
		</div>		


		 
		<div class="col-md-12 m-b-20"> 
			<label class="col-md-12"><%= t("cows.name")%></label>
			<div class="col-md-12">
				<%= f.text_field :name, class: "form-control"   %>
			</div>  
		</div>  
		  
		 
		<hr>
		<div class="col-md-12 m-b-20"> 
			<label class="col-md-12"><%= t("cows.key_id")%></label>
			<div class="col-md-12">
				<%= f.text_field :key_id, class: "form-control"   %>
			</div>  
		</div>
		 
		<hr>
		<div class="col-md-12 m-b-20"> 
			<label class="col-md-12"><%= t("cows.birthday")%></label>
			<div class="col-md-12">
				<%= f.date_field :birthday, class: "form-control"   %>
			</div>  
		</div>
		<hr>

		<div class="col-md-12 m-b-20"> 
			<label class="col-md-12"><%= t("cows.deaddate")%></label>
			<div class="col-md-12">
				<%= f.date_field :deaddate, class: "form-control"   %>
			</div>  
		</div>
		<hr>
		
		
	</div>		 	
</div>		
<div class="modal-footer">		
	<%=f.submit 'save',class: 'btn btn-info waves-effect' %> 		
	<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
</div>		
<% end %>

