<% @cows.each do |cow| %>
<tr>
	<td><%= cow.id %></td>
	<td><%= cow.name %>  
	<td><%= cow.created_at %></td> 
 	
	 <td> 
        <%=link_to cow, :class => "btn btn-small btn-primary", remote: true do %>
          <i class="btn-icon-only icon-search"> </i>
        <%end%> 
         <%= link_to edit_cow_path(cow), :class => "btn btn-small btn-warning", remote:true do %>
          <i class="btn-icon-only icon-pencil"> </i>
        <%end%>
        
         <%=link_to cow_delete_path(cow), :class => "btn btn-small btn-danger", remote:true  do %>
           <i class="btn-icon-only icon-trash"> </i>
        <%end%> 
    </td>
 

 	 

</tr>
<% end.empty? and begin %>
<h1>No  se  han encontrado  resultados</h1>
<% end %>