  <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="header">
                                <h4 class="title"><i class="pe-7s-home"></i> Control de Bovinos</h4>
                                <p class="category"><%= notice %></p>
                            </div>
                            <div class="content">
                              <p>  Control de Bovinos le ayuda a mantener un monitoreo sobre sus bovinos a través de su dispositivo ControlBovino, tenga en cuenta que debe tener conectado el dispositivo, no olvide crear una cuenta para que el veterinario pueda acceder al reporte del estado de su bovino.</p> 
                                
                            </div>
                        </div>
                    </div>
                                        <div class="col-md-12">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Dieta de la semana</h4>
                                <p class="category"> </p>
                            </div>
                            <div class="content">
                                <div class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                          <% if NutritionalControl.all.each do |nutritionalcontrol| %>
                               
                                            <tr>
                                                <td>
                                                   
                                                   De <%=nutritionalcontrol.from_date.to_date%> a <%=nutritionalcontrol.to_date.to_date%>
                                                   
                                                </td>
                                                <td>
                                                  <%=nutritionalcontrol.name%>
                                                </td>
                                                <td>   
                                                 <ul class="nav navbar-nav navbar-right">
                                                      <% nutritionalcontrol.aliments.each do |aliment| %>
                                                           
                                                         <li style="float: left;"> <a href="#"><%= aliment.name %></a> </li> 
                                                      <% end %>
                                                </ul>
                                              </td>
                                                <td class="td-actions text-right">
                                                     
                                                </td>
                                            </tr>
                                       <% end.empty? %>
                                          <h3>No hay resultados</h3>
                                       <% end %>

                                        </tbody>
                                    </table>
                                </div>

                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> Puede variar
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
</div>
  

 
  
  

      