 <!DOCTYPE html>
<html>
<head>
	<title>Report</title> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chartkick/2.2.4/chartkick.min.js"></script>
  <meta charset="utf-8" />
</head>
<body>
<div class="row">  

  <div id="target-1" class="span12">

 


      <h1>Detalles</h1>

      
      <p id="notice"> </p> 
  
      <div id='section-to-print'>
        <div class="row">
          <i class="icon-list-alt"></i>
            <h1>Datos del Bovino</h1>
           <%= @current_date  %>

          <p>
            <strong>Chipid:</strong>
            <%= @arduino_device.chipid %>
          </p>

          <p>
            <strong>Model:</strong>
            <%= @arduino_device.model %>
          </p>

          <p>
            <strong>Usuario:</strong>
            <%= @arduino_device.user.name %>
          </p>

          <p>
            <strong>ID de Bovino:</strong>
            <%= @arduino_device.cow.id %>
          </p>  
            <div class="span12"> 
              <h1>Tiempo de Actividad (en Minutos)</h1>
              <div id="msn">
              	<div class="span12">
				<div class="span7">
				<p>Tiempo Total Caminando:
				<%= (@caminando/60).to_i.to_s %> Minutos
				(Normal debe ser aproximadamente 240)
				<br>
				Tiempo Total de Pie:
				<%= (@parada/60).to_i.to_s %> Minutos  
				<br>
				Tiempo Total de Sentada:
				<%= (@sentada/60).to_i.to_s %> Minutos
				(Normal debe ser entre 720-600)
				<br>
				Tiempo Total de Sueño:
				<%= (@dormida/60 ).to_i.to_s %> Minutos
				(Normal debe ser entre 300-200)
				<br></p>
				</div>
				<div class="span3">
				<p>Ultimo estado: </p>
				<br>
				<%=  image_tag(@current_state,   alt: @current_state) if @current_state%>   
				</div>
				</div>
                  <!-- .stat --> 
                </div>

           
           </div>
           
 			Para mas información dirigete a <%= link_to 'Detalles', arduino_device_url(@arduino_device ) %> 
      


                </div>
                



             
            </div>

          

        </div> <!-- /widget -->

      </div> <!-- /span12 --> 
     
 
</body>
</html>
