<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
	<h3 class="modal-title"><%= t('users.delete_user')%></h3>
</div>
<div class="modal-body">
	<ul class="errors"></ul>
	<%= t('users.delete_message')%> <b><%= @user.email %></b>?
</div>
<div class="modal-footer">
	<%= link_to t('users.confirm_delete'), admin_user_path(@user), method: :delete, remote: true, class: "btn btn-danger" %>
	<%= link_to t('users.no_confirm_delete'), "#", class: "btn", data: { dismiss: "modal" } %>
</div>
</div>
</div>