<!DOCTYPE html>
<html>
  <head> 
    <title>Bovinos</title>
    <%= csrf_meta_tags %> 
    <meta charset="UTF-8">
    <title>Seiton</title> 
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.0.7/adapters/standalone-framework.js"></script>
 	 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="navbar navbar-fixed-top">
    
    <div class="navbar-inner">
        
        <div class="container">
            
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            
            <a class="brand" href="#">
                Control de Bovinos
            </a>        
      <div class="nav-collapse">
        <ul class="nav pull-right">
           
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="icon-user"></i> <%= current_user.name+" "+current_user.lastname %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:;">Profile</a></li>
              


              <li> 
               <%if user_signed_in? %>  
                    
                    <%=link_to destroy_user_session_path,   method: :delete,  data: { turbolinks: false }   do %>
                    Cerrar Sesión <i class="glyph-icon icon-linecons-lock"></i>
                    <%end%>
               
                <%end%> </li>
            </ul>
          </li>
        </ul>
         
      </div>
      <!--/.nav-collapse --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /navbar-inner --> 
</div>
<!-- /navbar -->
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li class="<% if controller.controller_name == "welcome" %>active<%end%>">
          <%=link_to root_path,  data: { turbolinks: false }   do %>
          <i class="icon-dashboard"></i>
          <span>Inicio</span> 
          <%end%> 

        </li> 
        <li class="<% if controller.controller_name == "nutritional_controls" %>active<%end%>">
          <%=link_to nutritional_controls_path,  data: { turbolinks: false }   do %>
          <i class=" icon-list-alt"></i>
          <span>Control Nutricional</span> 
          <%end%>  
        </li>
        <li class="<% if controller.controller_name == "carnets" %>active<%end%>">
          <%=link_to carnets_path,  data: { turbolinks: false }   do %>
          <i class=" icon-list-alt"></i>
          <span>Control de Vacunas</span> 
          <%end%>  
        </li>
        <li class="<% if controller.controller_name == "arduino_devices" %>active<%end%>">
          <%=link_to arduino_devices_path,  data: { turbolinks: false }   do %>
          <i class="icon-hdd"></i>
          <span>Mis arduinos</span> 
          <%end%>  
        </li>
        <li class="<% if controller.controller_name == "cows" %>active<%end%>">
          <%=link_to cows_path,  data: { turbolinks: false }   do %>
          <i class="icon-user-md"></i>
          <span>Bovinos</span> 
          <%end%>  
        </li>
        <li class="<% if controller.controller_name == "veterinaries" %>active<%end%>">
          <%=link_to veterinaries_path,  data: { turbolinks: false }   do %>
          <i class="icon-user-md"></i>
          <span>Veterinarios</span> 
          <%end%>  
        </li>
        <li class="<% if controller.controller_name == "users" %>active<%end%>"> 
         <%=link_to admin_users_path,  data: { turbolinks: false }   do %>
            <i class="shortcut-icon icon-user"></i>
            <span>Usuarios</span> 
         <%end%> 
        </li>
        
      </ul>
    </div>
    <!-- /container --> 
  </div>
  <!-- /subnavbar-inner --> 
</div>
<!-- /subnavbar -->
<div class="main">
  <div class="main-inner">
    <div class="container">
      <% if notice %>
      <div class="alert alert-success alert-dismissable">
        <i class="fa fa-check"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <b><%= notice %></b>
      </div>
      <% end %>
      <% if alert %>
      <div class="alert alert-danger alert-dismissable">
        <i class="fa fa-ban"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <b><%= alert %></b>
      </div>
      <% end %>
      
     <%= yield %>
    
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>
<!-- /main -->
<div class="extra">
  <div class="extra-inner">
    <div class="container">
      <div class="row">  
                <div class="span9">
                        <h4>
                            Desarrollado por</h4>
                        <ul>

                            <li><a href="javascript:;">Ricardo Medina</a></li>
                            <li><a href="javascript:;">Ricardo Sansores</a></li>
                            <li><a href="javascript:;">Javier Aguilar</a></li> 
                            <li><a href="javascript:;">Sherly Basto</a></li>
                        </ul>
                    </div>
                    <div class="span3">
                        <h4>
                            Control de Bovinos</h4>
                        <ul>
                             
                        </ul>
                    </div>
                    <!-- /span3 -->
                  
                    <!-- /span3 -->
                   
                    <!-- /span3 -->
                </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /extra-inner --> 
</div>
<!-- /extra -->
<div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span12"> &copy; 2018 <a href="#"> </a></div>
        <!-- /span12 --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /footer-inner --> 
</div>
    
        
  </body>
</html>
