<!DOCTYPE html>
<html> 
  <head> 
    <title>Bovinos</title>
    <%= csrf_meta_tags %> 
    <meta charset="UTF-8">
    <title>Seiton</title> 
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <%= action_cable_meta_tag %>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.0.7/adapters/standalone-framework.js"></script>
 	 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head> 
  <body>

<div class="wrapper">
      <div class="sidebar" data-color="green" data-image="<%=image_path('sidebar-5')%>">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

      <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                   Control de Bovinos
                </a>
            </div>

            <ul class="nav">
                <li class="">
                      <%=link_to root_path,  data: { turbolinks: false }, class:'shortcut'   do %>
                      <i class="pe-7s-home"></i>
                      <p  >Inicio</p> 
                      <%end%> 
                </li>
                <li class="">
                      <%=link_to arduino_devices_path,  data: { turbolinks: false }, class:'shortcut'   do %>
                      <i class="pe-7s-signal"></i>
                      <p  >Mis arduinos</p> 
                      <%end%> 
                </li>
                <li class="">
                      <%=link_to cows_path,  data: { turbolinks: false }, class:'shortcut'   do %>
                      <i class="pe-7s-medal"></i>
                      <p  >Bovinos</p> 
                      <%end%> 
                </li>
                <li class="">
                      <%=link_to veterinaries_path,  data: { turbolinks: false }, class:'shortcut'   do %>
                      <i class="pe-7s-eyedropper"></i>
                      <p  >Veterinarios</p> 
                      <%end%> 
                </li>
                <li class="">
                      <%=link_to admin_users_path,  data: { turbolinks: false }, class:'shortcut'   do %>
                      <i class="pe-7s-user"></i>
                      <p  >Usuarios</p> 
                      <%end%> 
                </li>
                <li class="">
                      <%=link_to nutritional_controls_path,  data: { turbolinks: false }, class:'shortcut'   do %>
                      <i class="pe-7s-graph"></i>
                      <p  >Control Nutricional</p> 
                      <%end%> 
                </li>
                <li class="">
                      <%=link_to carnets_path,  data: { turbolinks: false }, class:'shortcut'   do %>
                      <i class="pe-7s-note2"></i>
                      <p  >Control de Vacunas</p> 
                      <%end%> 
                </li>
              
            </ul>
      </div>
    </div>
        <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed" style="background-color: rgb(0, 0, 0);">
            <div class="container-fluid">
                 
                <div class="collapse navbar-collapse">
                    

                    <ul class="nav navbar-nav navbar-right">
                        
                   
                        <li>
                                <%if user_signed_in? %>  
                    
                                                  <%=link_to destroy_user_session_path,   method: :delete,  data: { turbolinks: false }   do %>
                                                  Cerrar Sesión <i class="glyph-icon icon-linecons-lock"></i>
                                                  <%end%>
                                             
                              <%end%>
                        </li>
            <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                          <% if notice %>
                  <div class="alert alert-success alert-dismissable">
                    <i class="fa fa-check"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <b><%= notice %></b>
                  </div>
                  <% end %>
                  <% if alert %>
                  <div class="alert alert-danger alert-dismissable">
                    <i class="fa fa-ban"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <b><%= alert %></b>
                  </div>
                  <% end %>
                  
                 <%= yield %>
               



                
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                     
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Control de Bovinos</a>, made with love 
                </p>
            </div>
        </footer>

    </div>




</div>  
 
    
        <script type="text/javascript">
      $(document).ready(function(){

        <% if notice %>

          $.notify({
             icon: 'pe-7s-alert',
            message: "<%= notice %>"

           },{
               type: 'info',
               timer: 4000
          });
          <%end %>

      });
  </script>      
  </body>
</html>
